<footer class="footer mt-auto py-3 bg-body-secondary">
    <div class="container">
        <span class="text-body-secondary">This is the project result of Computer Network Team 11.</span>
    </div>
</footer>

<script src="/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>